<h2>All Superpowers</h2>

<ul>
  <% @superpowers.each do |superpower| %>
    <li>
      <%= superpower.name %>
      <br>
      Description: <%= superpower.description %>
    </li>
    <br>
  <% end %>
</ul>
